.detailDynamic li{
    font-size: 14px;
    color: #999;
    margin-left: 40px;
}
.detailDynamic li:first-child {
    color: #090;
}
.detailDynamic li span, .detailDynamic li p {
    line-height: 24px;
}