.starcomment {
  text-align: left;
  
}
.staritem {
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
}
.staritem span {
  font-size: 18px;
  color: #333;
  font-family: "微软雅黑";
  margin-right: 20px;
}
.starcomment .ant-rate {
  font-size: 26px;
  vertical-align: top;
}
.starcomment .ant-rate-star-half .ant-rate-star-first,
.starcomment .ant-rate-star-full .ant-rate-star-second {
  color: #00a0e9;
}
