/*解决左边大图往下掉*/
.Travel img{vertical-align: bottom !important;}


.travelCarousel{
  margin-top: 10px;
}



.travelAd img:nth-child(1) {
  margin-left: 5px;
  width: 276px !important;
}
.travelAd img:nth-child(2) {
  margin-left: 17px;
  width: 860px !important;;
}
